<% extend('../layout.ejs') %>
<h1>Registered Users</h1>

<% let columns = Object.keys(registration[0]) %>
<table class="table table-bordered table-striped">
    <tr>
        <% columns.forEach(function(column){ %>
        <th> <%= column %></th>
        <% }); %>
        <th>Actions</th>
    </tr>
    <% registration.forEach(function(entry){ %>
    <tr>
        <% columns.forEach(function(column){ %>
        <td> <%= entry[column] %></td>
        <% }); %>
        <td>
            <form action="/admin/registration/approve" method="post">
                <input type="hidden" name="id" value="<%= entry['reg_id'] %>">
                <button class="btn btn-success btn-flat btn-block">Approve</button>
            </form>
            <form action="/admin/registration/remove" method="post">
                <input type="hidden" name="id" value="<%= entry['reg_id'] %>">
                <button class="btn btn-danger btn-flat btn-block"
                        onclick="return confirm('Are you sure you want to reject the selected user? (This cannot be undone)')">
                    Reject
                </button>
            </form>
        </td>
    </tr>
    <% }); %>

</table>
