<% extend('../layout.ejs') %>
<h1>Customers</h1>
<% let columns = Object.keys(results[0]) %>
<table class="table table-bordered table-striped">
    <tr>
        <% columns.forEach(function(column){ %>
        <th> <%= column %></th>
        <% }); %>
        <th>Actions</th>
    </tr>
    <% results.forEach(function(entry){ %>
    <tr>
        <% columns.forEach(function(column){ %>
        <td> <%= entry[column] %></td>
        <% }); %>
        <td>
            <form action="/admin/customers/remove" method="post">
                <input type="hidden" id="<%= entry.cu_id %>">
                <button onclick="confirm('Are you sure you want to deactivate this customer?')"
                        class="btn btn-danger btn-flat btn-block">Deactivate
                </button>
            </form>
        </td>
    </tr>
    <% }); %>

</table>

