<% extend('../layout.ejs') %>
<h1>Customers</h1>
<% let columns = Object.keys(results[0]) %>
<table class="table table-bordered table-striped">
    <tr>
        <% columns.forEach(function(column){ %>
        <th> <%= column %></th>
        <% }); %>
        <th>Actions</th>
    </tr>
    <% results.forEach(function(entry){ %>
    <tr>
        <% columns.forEach(function(column){ %>
        <td> <%= entry[column] %></td>
        <% }); %>
        <td>
            <button class="btn btn-danger">Remove</button>
        </td>
    </tr>
    <% }); %>

</table>
